@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

body {
  color: #eee;
  overflow: auto !important;
  font-family: "Noto Sans KR", "나눔스퀘어", "나눔바른고딕", Arial;
}

.skin-2 .navbar {
  background: #393939;
}

.navbar-brand {
  display: none;
}

img.pull-left {
  cursor: pointer;
  content: url("https://raw.githubusercontent.com/HyeokjinKang/better-benedu/master/contents/icon64.png");
  margin-top: 6px;
  height: 24px;
}

.menu-min {
  width: 60px !important;
}

.sidebar.menu-min.compact {
  width: 60px !important;
}

.sidebar-shortcuts {
  display: none;
}

.sidebar-shortcuts-mini {
  margin-left: 9px;
}

.nav-list > li > a > .menu-icon {
  width: 60px !important;
}

#___sharetoclassroom_0 {
  display: none !important;
}

.skin-2 .sidebar.menu-min .nav-list > li > a > .menu-text {
  margin-left: 18px;
}

.user-info {
  display: none;
}

.ace-nav > li {
  border: none;
}

.fa-clock-o {
  color: #eee !important;
}

.glyphicon {
  color: #eee !important;
}

small > a {
  color: #eee !important;
}

.ace-nav > li.light-blue > a {
  background-color: #393939 !important;
}

#sidebar > div.nav-wrap-up.pos-rel > div.nav-wrap > div > ul > li {
  border: none;
}

/* 배경 색 변경 */
.page-content {
  height: 100%;
  background-color: #393939;
}

.skin-2 {
  overflow-x: none;
  background-color: #393939;
}

.main-content-inner {
  height: calc(100vh - 45px);
}

#main-container {
  height: 100vh;
}

/* 버튼 색 변경 */
.skin-2 .navbar .navbar-toggle {
  background-color: #393939;
}

.skin-2 .nav-list > li.hover-show > a {
  background-color: #393939 !important;
}

.sidebar.menu-min .nav-list > li > .submenu {
  left: 59px;
}

/* 푸터 삭제 */
.footer {
  display: none;
}

.skin-2 .nav-list>li>a>.arrow, .skin-2 .nav-list>li>a>.menu-text {
  color: #eee !important;
}

.ui-dialog, .ui-jqdialog {
  background-color: #333 !important;
}

.dataTable>thead>tr>th[class*=sorting_] {
  color: #eee;
}

.table>thead>tr {
  background: repeat-x #333;
}

.dataTables_wrapper .row:last-child {
  border: none !important;
  background-color: #00000000 !important;
}

.table-hover>tbody>tr:hover, .table>tbody>tr.active>td, .table>tbody>tr.active>th, .table>tbody>tr>td.active, .table>tbody>tr>th.active, .table>tfoot>tr.active>td, .table>tfoot>tr.active>th, .table>tfoot>tr>td.active, .table>tfoot>tr>th.active, .table>thead>tr.active>td, .table>thead>tr.active>th, .table>thead>tr>td.active, .table>thead>tr>th.active {
  background: #222 !important;
}

.text-warning {
  color: #eee;
  font-weight: bold;
}

input[type=checkbox].ace+.lbl::before, input[type=radio].ace+.lbl::before {
  background-color: #0000;
}

.pager>li>a, .pagination>li>a {
  background-color: #0000;
  color: #eee;
}

.pager>li.disabled>a, .pager>li.disabled>a:hover, .pagination>li.disabled>a, .pagination>li.disabled>a:hover {
  background-color: #0000;
}

.skin-2 .breadcrumbs {
  background-color: #222;
}

.breadcrumb>li, .breadcrumb>li.active {
  color: #eee;
}

.breadcrumb>li>a {
  color: #eee;
  text-decoration: none;
}

.page-header h1 {
  font-weight: 700;
  color: #eee !important;
}

.blue {
  color: #eee !important;
}