.slide-0 {
  background-image: url("https://raw.githubusercontent.com/HyeokjinKang/better-benedu/master/contents/header.png") !important;
  background-repeat: no-repeat;
  background-position: right; 
  background-size: cover;
}

.carousel-control {
  display: none;
}

.carousel-caption {
  font-size: 1.2em;
}

.carousel-caption > p:nth-child(1) {
  display: none;
}

.carousel-caption > p:nth-child(3) {
  font-size: 1em;
}

/* 폰트 색 변경 */
.widget-box.transparent > .widget-header {
  border-bottom: 1px solid white;
  color: white;
}

/* 폰트 색 변경 */
.row {
  color: white;
}

/* 색칠되지 않은 별 색 변경 */
.light-grey {
  color: #323232 !important;
}

/* 색칠된 별 색 변경 */
.orange2 {
  color: #ffe552 !important;
}

/* 아이콘들 하얀색으로 변경 */
.orange {
  color: white !important;
}

.red {
  color: white !important;
}

.blue {
  color: white !important;
}

.fc .fc-toolbar > * > :first-child {
  color: white;
}

/* 학습 계획 일정 글씨 색 변경 */
.fc-toolbar button {
  color: white;
}

.fc-state-default,
.fc-state-default .fc-button-inner {
  /* 학습계획 /일정에서의 버튼 색 변경 */
  background-color: #323232;
  /* 글자 색 변경 */
  color: white;
}

.fc-unthemed .fc-today {
  /* 오늘 날짜의 색 변경 */
  background: #5f5f5f;
}

.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed hr,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  /* 테두리 색 변경 */
  border-color: #393939;
}

.fc .fc-axis,
.fc-widget-header {
  /* 헤더부분 배경 색 변경 */
  background: #5f5f5f;
  /* 헤더부분 글씨 색 변경 */
  color: white;
}

/* 여기까지 입니다 */
/* 이 부분을 완성하신 분은 민유를 찾아주세요 */

/* 과제 / 추천의 색 변경 */
.widget-body .table thead:first-child tr {
  background: #393939;
}

/* 항목의 글자 색 변경 */
.table > thead > tr {
  color: white;
}

.menu-text {
  color: white !important;
}

/* better benedu 삭제 */
.betterBenedu-margin {
  display: none;
}

/* Today's Words 옆의 아이콘 삭제 */
.glyphicon {
  display: none;
}

.text-success {
  color: white;
}

/* 공지, 날씨 삭제*/
#mainNotice {
  display: none;
}

.col-lg-5.col-md-4.col-sm-6.col-xs-12:nth-child(2) {
  display: none;
}

/* 거슬리는 아이콘을 제거*/
.ace-icon.fa.fa-refresh {
  display: none;
}

.ace-icon.fa.fa-list {
  display: none;
}

.widget-header > .widget-title > .ace-icon {
  display: none;
}

/* 학습량 svg 뜯어고치기 */
svg {
  filter: invert(77.5%) hue-rotate(30deg) saturate(200%);
}

/* 메인화면 위젯 글자 스타일 */
.widget-title {
  color: white;
  font-weight: 900;
  opacity: 0.9;
}

/* 날씨위젯에 현재시간 표시 제거 */
#mainWeather > div > div > div.widget-header.widget-header-small.header-color-blue2 > h4 > small {
  display: none;
}

/*  위젯 상단 줄 제거 */
.widget-box.transparent > .widget-header {
  border: none;
}

.fc-bg > table > tbody > tr {
  background: linear-gradient(0, #393939, #4b4b4b);
}

/* 위젯-내용 공백 제거 */
.widget-body > div {
  padding: 0px;
}

/* 일일단어 안쓰는 아이콘 제거 */
#vocaRight i.blue {
  display: none;
}

/* 위젯 float와 height 사이 이슈 해결하기 위해 가상선택자로 float clear 해주기 */
div.widget-body > div::after {
  content: "";
  display: block;
  clear: both;
}

/* 캘린더 상단 버튼 스타일 */
.fc-state-default,
.fc-state-default .fc-button-inner {
  background-color: #2c2c2c;
  font-size: 14px !important;
  border-radius: 6px !important;
}

/* 위젯 메인 스타일 */
.widget-body {
  margin-top: 6px;
  border: 2px solid #313131 !important;
  border-radius: 6px;
  padding: 12px;
}

/* 데이터리스트위젯 새로고침 버튼 삭제 */
[data-action="reload"] {
  display: none !important;
}

/* 공지사항에 의미없는공백 제거 */
#mainNotice > div > div > div.widget-body > div > div > div {
  padding: 0px;
}

/* 위젯 제목 위에 공백 수정 */
[style="margin:10px;"] {
  margin: 0px !important;
  margin-top: 12px !important;
}

/* 학습계획 날짜 왼쩍정렬 */
#calendar > div.fc-toolbar > div.fc-center {
  float: left;
  margin-left: 12px;
}

/* 학습계획 날짜 스타일 */
#calendar > div.fc-toolbar > div.fc-center h2 {
  font-size: 16px;
  color: white;
  line-height: 32px;
  font-weight: 900;
  opacity: 0.7;
}

.skin-2 .nav-list > li:nth-child(2) > a:hover {
  background-color: #103341;
  color: white;
}
.skin-2 .nav-list > li:nth-child(3) > a:hover {
  background-color: #142e1d;
  color: white;
}

/* 과제 표 배경색 수정 */
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #393939;
}

#context-menu-date {
  color: black !important;
}

.skin-2
.nav-list>li:nth-child(2)>.submenu li.active>a,
.skin-2 .nav-list>li:nth-child(2)>.submenu li.hover-show>a,
.skin-2 .nav-list>li:nth-child(2)>.submenu li.open>a,
.skin-2 .nav-list>li:nth-child(2)>.submenu li:hover>a {
  color: white !important;
}

.skin-2 .nav-list>li>.submenu {
  background-color: #2c2c2c !important;
}

tr:hover {
  background-color: #2c2c2c !important;
}

#LearningPlan-Dialog {
  background-color: #333;
}

.form-control, input[readonly], .ui-dialog .ui-dialog-titlebar {
  color: white !important;
  background-color: #333 !important;
}

.ui-dialog, .ui-jqdialog {
  border: 1px solid #777 !important;
}

.fa-leaf, .ui-dialog-titlebar-close {
  display: none;
}

.btn-info, .input-group-addon {
  background-color: #333 !important;
  color: #fff !important;
  border: none;
  text-shadow: none !important;
}

.widget-header {
  display: none;
}

#LearningPlan-Dialog-data>.row:nth-child(12) {
  display: none;
}

.jconfirm-bg {
  background-color: rgba(68, 68, 68, 0.75) !important;
}