@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* 폰트 변경 */
body {
  font-family: 'Noto Sans KR', '나눔스퀘어', '나눔바른고딕', Arial;
}

.skin-2 .navbar {
  background: #393939;
}

.navbar-brand {
  display: none;
}

img.pull-left {
  content: url('https://raw.githubusercontent.com/HyeokjinKang/better-benedu/master/icon64.png');
  margin-top: 6px;
  height: 24px;
}

.slide-0 {
  background: linear-gradient(0, #1f1f1f, #393939) !important;
}

.carousel-control {
  display: none;
}

.menu-min {
  width: 60px !important;
}

.sidebar.menu-min.compact {
  width: 60px !important;
}

.sidebar-shortcuts-mini {
  margin-left: 9px;
}

.nav-list > li > a > .menu-icon {
  width: 60px !important;
}

#___sharetoclassroom_0 {
  display: none !important;
}

.skin-2 .sidebar.menu-min .nav-list>li>a>.menu-text {
  margin-left: 18px;
}

.user-info {
  display: none;
}

.ace-nav > li {
  border: none;
}

.fa-clock-o {
  color: white !important;
}

.glyphicon{
  color: white !important;
}

small > a {
  color: white !important;
}

.ace-nav>li.light-blue>a {
  background-color: #393939 !important;
}

.carousel-caption {
  font-size: 1.2em;
}

.carousel-caption>p:nth-child(1) {
  display: none;
}

.carousel-caption>p:nth-child(3) {
  font-size: 1em;
}

/* 짜잔 */
/* 여기서부터는 민유의 코드 */

/* 폰트 색 변경 */
.widget-box.transparent>.widget-header {
  border-bottom: 1px solid white;
  color: white;
}

/* 버튼 색 변경 */
.skin-2 .navbar .navbar-toggle { 
  background-color: #393939;
}

.skin-2 .nav-list>li.hover-show>a { 
  background-color: #393939 !important;
}

.sidebar.menu-min .nav-list>li>.submenu {
  left: 59px;
}

/* 폰트 색 변경 */
.row {
  color: white;
}

/* 배경 색 변경 */
.page-content {
  height: 100%;
  background-color: #393939;
}

.main-content-inner {
  height: calc(100vh - 45px);
}

#main-container {
  height: 100vh;
}

/* 색칠되지 않은 별 색 변경 */
.light-grey {
  color: #323232 !important;
}

/* 색칠된 별 색 변경 */
.orange2 {
  color: #ffe552 !important;
}

/* 아이콘들 하얀색으로 변경 */
.orange {
  color: white !important;
}

.red {
  color: white !important;
}

.blue {
  color: white !important;
}

.fc .fc-toolbar>*>:first-child {
  color: white;
}

/* 학습 계획 일정 글씨 색 변경 */
.fc-toolbar button {
  color: white;
}

/* 푸터 삭제 */
.footer {
  display: none;
}

.fc-state-default, .fc-state-default .fc-button-inner {
  /* 학습계획 /일정에서의 버튼 색 변경 */
  background-color: #323232;
  /* 글자 색 변경 */
  color : white;
}

.fc-unthemed .fc-today {
  /* 오늘 날짜의 색 변경 */
  background: #5f5f5f;
}

.fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed hr, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
  /* 테두리 색 변경 */
  border-color: #393939;
}

.fc .fc-axis, .fc-widget-header {
  /* 헤더부분 배경 색 변경 */
  background: #5f5f5f;
  /* 헤더부분 글씨 색 변경 */
  color: white;
}

/* 여기까지 입니다 */
/* 이 부분을 완성하신 분은 민유를 찾아주세요 */

/* 과제 / 추천의 색 변경 */
.widget-body .table thead:first-child tr {
  background: #393939;
}

/* 항목의 글자 색 변경 */
.table>thead>tr {
  color: white;
}

/* better benedu 삭제 */
.betterBenedu-margin {
  display: none;
}

/* Today's Words 옆의 아이콘 삭제 */
.glyphicon {
  display: none;
}

.text-success {
  color: white;
}

/* 공지, 날씨 삭제*/
#mainNotice {
  display: none;
}

.col-lg-5.col-md-4.col-sm-6.col-xs-12:nth-child(2) {
  display: none;
}

/* 과제 추천 상단의 아이콘 제거*/
.ace-icon.fa.fa-refresh {
  display: none;
}

.ace-icon.fa.fa-list {
  display: none;
}

/* 학습량 svg 뜯어고치기 */
svg {
  filter: invert(77.5%) hue-rotate(30deg) saturate(200%);
}

.grid2 {
  border: none;
}